{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "tailwindStylesheet": "./src/styles/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
